h1 {
    color: #ff5733;
}

img {
    width: 350px;
}

#thirdDiv {
    width: 500px;
    height: 500px;
    background-color: #f0f0f0;
    padding: 50px;
    border: 5px solid #000000;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}
